## LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.thm
*.pre
*.bcf
*.xml


## R 
.Rhistory    
.RData         
.Rdevice         
.Rapp.history

## RStudio 
.Rproj.user/    
*.Rproj          

# virtual environments
venv/
.venv/
env/
ENV/

# environment variables
.env
*.env

## jupyter
.ipynb_checkpoints/

## OS trasn
.DS_Store
Thumbs.db
